td {
    text-align: center;
    margin: 10px;
}

h3 {
    padding: 10px;
    margin: 0;
}

table {
    border-collapse: collapse;
    max-width: 250px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: white;
}

td img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1.35;
}

.curriculoAcess a {
    color: white;
    text-decoration: none;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}

p {
    color: gray;
    font-size: 16px;
    margin: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}